@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap");

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.row {
  margin-right: 0 !important;
}

.NavBar {
  width: 80%;
  position: absolute;
  top: 0;
}

/* .nav-item{
  border: 1px solid #ffffff;
  border-radius: 20px;
} */
.nav-item a{
  color: #ffffff !important;
}
.shapeBg {
  background-image: url("../_data/Bg-Shape.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}

.logo {
  width: 150px;
}
#about {
  background-color: #f7f6ff;
}
.speakingImg-2 {
  width: 100%;
  height: 100%;
}
.blurBg {
  background-image: url("../_data/bg-2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#pricing {
  background-color: #f4f4ff;
}
.slick-dots {
  margin-bottom: 30px;
}
.slick-dots li {
  border: 4px solid #695ee6;
  border-radius: 50%;
}
.slick-dots li.slick-active {
  background: #695ee6;
}
.mouse {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
}
.mouse img {
  width: 25px;
  height: 25px;
}
.delay1 {
  animation-delay: 0.5s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 1.5s;
}
.delay4 {
  animation-delay: 2s;
}
.delay5 {
  animation-delay: 2.5s;
}
#name,
#mail {
  border-radius: 5px !important;
}
.contact-us {
  background-image: url("../_data/footer-1.svg"), url("../_data/footer-2.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}
.linearBg{
  background:linear-gradient(52deg, #605b5b3b, #b5949400);

}


